<form>
    <div class="mb-3 col-md-2">
        <label for="matricula" class="form-label">Matricula:</label>
        <input type="text" class="form-control" id="matricula" placeholder="Informe a Matricula">
    </div>
    <div class="mb-3 col-md-2">
        <label for="nameAluno" class="form-label">Nome do Aluno:</label>
        <input type="text" class="form-control col-4" id="nameAluno" placeholder="Informe o Nome" />
    </div>
    <div class="mb-3 col-md-2">
        <label for="cpf" class="form-label">CPF:</label>
        <input type="text" class="form-control" id="cpf" placeholder="Informe o CPF">
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>